/* CSS Document
============================================ */
.fleft {
float:left;
margin-right:8px;
}
.fright {
float:right;
margin-left:8px;
}
/* Fim de CSS
============================================ */
